@media (max-width: 1300px) {
  .titulo__bienvenida {
    font-size: 4em;
  }
  .spacer {
    margin-top: -1em;
  }

  .curva__footer {
    margin-bottom: -3rem;
  }
}

@media (max-width: 1200px) {
  .content {
    justify-content: space-around;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .titulo__bienvenida {
    font-size: 4.2em;
  }
  .spacer {
    margin-top: -1em;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .content {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .redes__ {
    align-items: flex-end;
    padding-right: 2em;
  }

  .titulo__bienvenida {
    font-size: 3.6em;
  }
  .subtitulo__bienvenida {
    font-size: 1.3em;
  }
  .redes__ {
    margin-top: 0.5em;
    width: 25vw;
  }
  .img__inicio {
    width: 17em;
    height: 17em;
    margin-bottom: 1.6em;
  }
  .modal-content {
    width: 80%; /* Could be more or less, depending on screen size */
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 1.1em 2vw 1.1em 10vw;
  }

  .content {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .redes__ {
    align-items: flex-end;
    padding-right: 2em;
  }

  .titulo__bienvenida {
    width: 55vw;
    font-size: 3.2em;
  }
  .subtitulo__bienvenida {
    font-size: 1.3em;
  }
  .contenedor__titulo {
    padding-right: 1em !important;
    padding-left: 1em !important;
  }
  .contenedor__imagen {
    padding-bottom: 3em;
    margin-left: 2em;
  }
  .redes__ {
    margin-top: 0.5em;
  }
  .icono__redes {
    margin-right: 1.8em;
  }
  .img__inicio {
    width: 14em;
    height: 14em;
  }
  .modal-content {
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .curva__footer {
    margin-bottom: -1.5rem;
  }
  .btn__mobile {
    display: none;
  }
}
@media (max-width: 769px) {
  .navbar {
    justify-content: space-between !important;
  }
  .mt-mb-3 {
    margin-top: 2rem;
  }
  .break {
    width: 100%;
    height: 0;
  }
  .nav-links {
    background-color: turquoise;
    flex-direction: column;
    align-items: center;
  }

  .checkbtn {
    background: red;
    display: block;
  }

  .content {
    justify-content: center;
    height: 85vh;
    padding-top: 1em;
  }
  .bienvenida__ {
    width: 100vh;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
  }

  .titulo__bienvenida {
    width: 80vw;
    text-align: center;
    font-size: 4.2em;
  }

  .redes__ {
    display: none;
  }
  .contenedor__imagen {
    display: none;
  }

  .subtitulo__bienvenida {
    width: 75vw;
    margin-top: 2em;
    font-weight: 800;
    background-color: rgb(201, 200, 200);
    color: rgb(50, 50, 50);
    text-shadow: 0.1rem 0.1rem 0px rgb(179, 157, 219);
    border-radius: 40px;
    text-align: center;
    padding: 1.2em;
    box-shadow: rgba(4, 224, 137, 0.4) 0px 5px, rgba(4, 224, 137, 0.3) 0px 10px;
    /* box-shadow: rgba(26, 35, 126, 0.4) 5px 5px, rgba(26, 35, 126, 0.3) 10px 10px; */
  }

  .titulo {
    margin-top: -0.1em;
  }

  .img__inicio {
    display: none;
  }

  .titulo {
    margin-top: -0.1em;
  }
  .spacer {
    margin-top: -0.5em;
  }
  .modal-content {
    width: 90%; /* Could be more or less, depending on screen size */
  }
  footer {
    flex-direction: column;
    text-align: center;

    height: 7rem;
  }
  .texto__footer {
    font-size: 0.9em;
    margin-top: 1rem;
  }
  .redes__footer {
    margin-bottom: 1rem;
  }
  .curva__footer {
    margin-bottom: -1.1rem;
  }
  .btn__mobile {
    display: block;
    order: 3;
  }

  .btn__desktop {
    display: none;
  }
  .col__mensaje {
    order: 2;
  }
  .contacto__ {
    height: 600px;
  }
  .notificacion__container {
    padding: 2em 1.5em;
  }

  .notificacion__title {
    font-size: 2rem;
  }

  .notificacion__title {
    font-size: 2rem;
  }
  .notificacion__paragraph {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .content {
    margin-top: 0;
    padding-top: 4em;
  }

  .img__perfil {
    width: 6em;
    height: 6em;
  }

  .titulo__bienvenida {
    text-align: center;
    font-size: 3.4em;
  }

  .subtitulo__bienvenida {
    width: 80vw;
  }

  footer {
    height: auto;
  }
  .texto__footer {
    margin-bottom: 0.3rem;
  }
  .contacto__ {
    height: 600px;
  }
}

@media (max-width: 474px) {
  .titulo__bienvenida {
    font-size: 2.8em;
  }
  .img__perfil {
    width: 5em;
    height: 5em;
  }

  .presentacion__curriculum {
    padding-right: 1.5em;
  }

  .presentacion__curriculum h2 {
    font-size: 1em;
  }

  .presentacion__curriculum h4 {
    font-size: 0.8em;
  }
  .curva__footer {
    margin-bottom: -0.4rem;
  }

  .pro {
    order: 2;
  }

  .pro1 {
    order: 1;
  }
}
